{% extends "base.html" %}
{% set title = 'Privacy Policy' %}
{% block content %}

<p>Your Challonge credentials are only stored locally in your browser as a secure cookie. The secure cookie is deleted after 7 days. You can delete this cookie at any time by clicking the "Log Out" button. Your credentials are never stored on our servers at any point. You can look at the <a href="https://github.com/mtimkovich/challonge-tools/blob/webapp/webapp.py">source code</a> to see how your credentials are processed. 

<p>That being said, you should only enter your Challonge information on this site if you trust us not to abuse it.

<p>We are not associated with Challonge in any way.

{% endblock %}
